# COMPILED BUILD

# ignore dist folders anywhere
dist/
# ignore lib folder in root ONLY
/lib/
# /dist/ # Only ignore dist in root
# /**/dist/ # Ignore dist folders anywhere (if you want)

# If you have other build folders to ignore
/build/
/.next/

# Workspace
.turbo
# .env
# .env.*
# !.env.example

# PNPM
.pnpm-store/
.pnpm-debug.log*

# NPMRC - ** ONLY DUE TO VARIABLE IN .npmrc **
/.env

# DATABASE + MIGRATIONS
# Keep data structure, ignore contents
# drizzle/
# /data/*
# !/data/.gitkeep
# !/data/migrations/

# Ignore database files
*.db
*.sqlite
*.sqlite3

# OLS default VHost folders
cgi-bin
fcgi-bin
html/

# Build caches
**/.turbo
**/.tsup

# LOGS
logs/**/*

# dev
.yarn/
!.yarn/releases
# .vscode/*
# !.vscode/launch.json
# !.vscode/*.code-snippets

# deps
node_modules/

# vendor libs
.eslintcache

# env
# .env
# .env.*
# !.env.example
# .env.local
# .env.*.local

# Keep specific examples
!/apps/client/.env.example
!/apps/server/.env.example

# Database - TODO: UNCOMMENT WHEN READY
# *.db
# *.db-journal
# packages/server/data/*.db
# **/drizzle/migrations

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
