use-node-version=20.18.1
save-prefix=""
strict-peer-dependencies=false
link-workspace-packages=false
save-workspace-protocol=rolling
ignore-workspace-root-check=true

registry=https://registry.npmjs.org/
@finografic:registry=https://npm.pkg.github.com
always-auth=true
