<div style="position: absolute; top: 10020px; left: 0px; right: 0px">
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/fo.png"
        alt="Faroe Islands flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">Faroese</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fao)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Faroe Islands</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Føroyar</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇫🇴</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/fj.png"
        alt="Fiji flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">Fiji Hindi</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(hif)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Fiji</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">फिजी</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇫🇯</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/fj.png"
        alt="Fiji flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">Fijian</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fij)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Fiji</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Viti</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇫🇯</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/ph.png"
        alt="Philippines flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">Filipino</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fil)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Philippines</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Pilipinas</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇵🇭</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/fi.png"
        alt="Finland flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">Finnish</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fin)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Finland</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Suomi</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇫🇮</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/tg.png"
        alt="Togo flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Togo</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Togo</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇹🇬</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/yt.png"
        alt="Mayotte flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Mayotte</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Mayotte</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇾🇹</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/vu.png"
        alt="Vanuatu flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Vanuatu</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Vanuatu</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇻🇺</span>
    </div>
  </div>
  <div class="option focused" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/ne.png"
        alt="Niger flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Niger</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Niger</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇳🇪</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/km.png"
        alt="Comoros flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Comoros</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Comores</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇰🇲</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/bl.png"
        alt="Saint Barthélemy flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Saint Barthélemy</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Saint-Barthélemy</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇧🇱</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/je.png"
        alt="Jersey flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Jersey</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Jersey</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇯🇪</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/dj.png"
        alt="Djibouti flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Djibouti</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Djibouti</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇩🇯</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/re.png"
        alt="Réunion flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Réunion</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">La Réunion</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇷🇪</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/pf.png"
        alt="French Polynesia flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">French Polynesia</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Polynésie française</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇵🇫</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/cd.png"
        alt="DR Congo flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">DR Congo</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">RD Congo</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇨🇩</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/cg.png"
        alt="Republic of the Congo flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Republic of the Congo</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">République du Congo</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇨🇬</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/sn.png"
        alt="Senegal flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Senegal</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Sénégal</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇸🇳</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/lb.png"
        alt="Lebanon flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Lebanon</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Liban</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇱🇧</span>
    </div>
  </div>
  <div class="option" style="height: 60px">
    <div class="rt-Flex rt-r-ai-center rt-r-gap-3 rt-r-p-3">
      <img
        src="https://flagcdn.com/w320/gn.png"
        alt="Guinea flag"
        width="24"
        height="18"
        style="border-radius: 2px"
      />
      <div class="rt-Flex rt-r-fd-column" style="flex: 1 1 0%">
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span class="rt-Text rt-r-size-2 rt-r-weight-bold">French</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">(fra)</span>
        </div>
        <div class="rt-Flex rt-r-ai-center rt-r-gap-2">
          <span data-accent-color="gray" class="rt-Text rt-r-size-1">Guinea</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">•</span
          ><span data-accent-color="gray" class="rt-Text rt-r-size-1">Guinée</span>
        </div>
      </div>
      <span class="rt-Text rt-r-size-3">🇬🇳</span>
    </div>
  </div>
</div>
